openapi: 3.0.1

info:
  title: Digital Humanities Course Registry - Data API
  license:
    name: CC-BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://registries.clarin-dariah.eu/courses/pages/imprint
  description: >
    The Digital Humanities Course Registry (DHCR) collects metadata on academic 
    education programmes, trainings and courses about methods, tools and topics 
    in the field of the digital humanities. 
  version: "1.0"
  contact:
    name: Support
    url: http://dhcr.clarin-dariah.eu/contact/us

servers:
  - url: 'https://dhcr-api.v1.clarin-dariah.eu'
  - url: 'http://dhcr-api.v1.clarin-dariah.eu'

paths:
  /courses/index:
    get:
      description: >
        A call to the index method returns
        an unfiltered list of all published course metadata.
        Also courses that have been marked as deleted (soft-delete)
        will be included. 
      parameters:
      - in: query
        name: recent
        description: >
          Setting this parameter TRUE will cause the API 
          to return only recent, actively maintained, published 
          and non-deleted data as on the DHCR website. 
        schema:
          type: boolean
          default: false
      - in: query
        name: city_id
        description: One or more city IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single city ID
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple city IDs
            value: [1, 5, 7]   # ?ids=1,5,7
      - in: query
        name: country_id
        description: One or more country IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single country ID
            value: [3]   # ?ids=5
          multipleIds:
            summary: Example of multiple country IDs
            value: [1, 5, 7]   # ?ids=1,5,7
      - in: query
        name: institution_id
        description: One or more institution IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single institution ID
            value: [20]   # ?ids=5
          multipleIds:
            summary: Example of multiple institution IDs
            value: [20, 5, 7]   # ?ids=1,5,7
      - in: query
        name: language_id
        description: One or more language IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single language ID
            value: [8]   # ?ids=5
          multipleIds:
            summary: Example of multiple language IDs
            value: [1, 5, 8]   # ?ids=1,5,7
      - in: query
        name: course_type_id
        description: One or more course type IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single course type ID
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple course type IDs
            value: [1, 5, 6]   # ?ids=1,5,7
      - in: query
        name: course_parent_type_id
        description: One or more course parent type IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single course parent type ID
            value: [2]
          multipleIds:
            summary: Example of multiple course parent type IDs
            value: [2, 1]
      - in: query
        name: tadirah_object_id
        description: One or more IDs of TaDiRAH objects
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single object ID
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple object IDs
            value: [1, 5, 7]   # ?ids=1,5,7
      - in: query
        name: tadirah_technique_id
        description: One or more IDs of TaDiRAH techniques
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single technique ID
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple technique IDs
            value: [1, 5, 7]   # ?ids=1,5,7
      - in: query
        name: discipline_id
        description: One or more discipline IDs
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a single discipline ID
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple discipline IDs
            value: [1, 5, 7]   # ?ids=1,5,7
      
      responses:
        '200':
          description: >
            Successful retrieval. 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/courses"
            application/xml:
              schema:
                $ref: "#/components/schemas/courses"
      

components:
  schemas:
    courses:
      xml: 
        wrapped: true
        name: response
      type: array
      items:
        $ref: "#/components/schemas/Course"
        

    Course:
      xml:
        name: courses
      properties:
        id:
          type: integer
          description: >
            The unique identifier of this course in the DHCR. 
            If a new course is submitted, a new ID will be generated automatically.
          example: 478
        name:
          type: string
          description: >
            The main title of this course.
          example: Digital Landscaping of Analogue Literature
        description:
          type: string
          description: >
            A short text describing the context, intent and audience of the course.
          example: "The planning and performance of digitization projects and the realization 
            of sustainable indexing and preservation concepts require knowledge 
            about future-oriented archiving, efficient presentation and commercial 
            use of different disciplines..."
        department:
          type: string
          description: >
            The department, which organizes the course. 
            We do not maintain a list of departments, thus this is a free text field.
          example: Department for Literature Cartography
        access_requirements:
          type: string
          description: >
            A description of the premised graduation or other conditions 
            to enroll for this course or programme.
          example: "Completed degree (BA or higher) or 2 years of study in the field 
            or professional experience."
        ects:
          type: number
          description: >
            The number of European Credit Transfer System points that can be earned by 
            succeeding the programme. 
            You may enter fractions as a float, if required.
          example: 0.5
        contact_name:
          type: string
          description: >
            The lecturer name.
          example: Noam Chomsky
        contact_mail:
          type: string
          format: email
          description: >
            The lecturer's email contact.
          example: chomsky@mit.edu
        info_url:
          type: string
          format: url
          description: >
            The URL of an informative website about the course or programme.
          example: https://www.epfl.ch/schools/cdh/education-2/dh-master/
        guide_url:
          type: string
          format: url
          deprecated: true
          description: >
              Optional URL of a curriculum guidebook or similar. 
              Deprecated in 2019, as often confused with info_url.
          example: https://www.epfl.ch/schools/cdh/education-2/dh-master/dh-master-study-plan/
        start_date:
          type: string
          description: >
            Free text field for the start date. 
            We recommend YYYY-MM-DD dates. 
            Multiple dates are separated by "," and should contain 
            at least the abbreviated month name for best readability, 
            if no year is given.
          example: 2019-10-15 || October-15, April-15
        duration:
          type: integer
          description: >
            Duration of the programma or course in days. 
          example: 365
        recurring: 
          type: boolean
          description: >
            If the course is held at regular intervals, 
            this attribute's boolean value is TRUE.
          example: true
        course_type_id:
          type: integer
          description: >
            The course has one type out of six possible values, 
            which are divided into sub-types of full education programmas 
            or solitairy courses or summerschools etc. 
            This fields holds the numeric foreign key of that type. 
          example: 3
        course_parent_type_id:
          type: integer
          description: >
            There are two possible parent types, either full education programmas
            or solitary courses or summerschools.
            This field holds the numeric foreign key of the parent course type.
            If this field is present on update, it will be ignored. 
            Its value becomes determined by mapping the course_type_id to a parent_type_id.
          example: 1
        language_id:
          type: integer
          description: >
            This field holds the numeric foreign key of the language, 
            the course usually will be held in. 
          example: 8
        institution_id:
          type: integer
          description: >
            This field holds the numeric foreign key of the university, 
            institution or organisation, that is offering the training. 
          example: 4
        city_id: 
          type: integer
          description: >
            This field holds the numeric foreign key of the city, 
            where the involved institution is located.
          example: 17
        country_id:
          type: integer
          description: >
            This field holds the numeric foreign key of the country, 
            where the involved institution is located.
          example: 5
        approved:
          type: boolean
          description: >
            We have each new metadata set revisited by a moderator 
            to improve the quality and consistency of our data in 
            the sense of completeness and relevance to the field 
            of digital humanities. A plain programming course without 
            any reference to the arts or humanities for instance, is not.
            This value will be set TRUE, if a moderator has revised the 
            given information.
          example: true
        lon:
          type: number
          format: float
          description: >
            The longitude coordinate of the course location. 
            Both coordinates will be inherited from the institution, 
            if no other value is provided. 
            The database will only store six digits after the decimal point.
          example: 6.287982
        lat:
          type: number
          format: float
          description: >
            The latitude coordinate of the course location. 
            Both coordinates will be inherited from the institution, 
            if no other value is provided. 
            The database will only store six digits after the decimal point.
          example: 45.835102
        created: 
          type: string
          format: date-time
          description: >
            On creation of the data set, this time stamp will be set.
          example: "2019-05-12T20:53:38+00:00"
        updated: 
          type: string
          format: date-time
          description: >
            On update (or creation) of a data set, 
            this field indicates the modification date and time. 
            We use this value to determine the expiry date of each record.
          example: "2019-05-14T10:14:56+00:00"
        city:
          $ref: "#/components/schemas/City"
        country: 
          $ref: "#/components/schemas/Country"
        institution:
          $ref: "#/components/schemas/Institution"
        course_type:
          $ref: "#/components/schemas/CourseType"
        course_parent_type:
          $ref: "#/components/schemas/CourseParentType"
        discipline:
          $ref: "#/components/schemas/Discipline"
        tadirah_object:
          $ref: "#/components/schemas/TadirahObject"
        tadirah_technique:
          $ref: "#/components/schemas/TadirahTechnique"
        
    City:
      properties: 
        id:
          type: integer
          description: >
            The unique identifier of this city in the DHCR.
          example: 15
        country_id:
          type: integer
          description: >
            Foreignkey of the country.
          example: 3
        name:
          type: string
          description: >
            The city name
          example: Bielefeld
          
    Cities:
      type: array
      items: 
        $ref: "#/components/schemas/City"
        
    Country:
      properties: 
        id:
          type: integer
          description: >
            The unique identifier of this country in the DHCR.
          example: 1
        name:
          type: string
          description: >
            The country name
          example: Netherlands
          
    Countries:
      type: array
      items: 
        $ref: "#/components/schemas/Country"
        
    CourseType:
      description: >
        Courses belong to one course type. 
        All types belong to one of two parent types, 
        either a degree programma or credits. 
        Thus, there are BA, MA or PhD programmas for the degree parent type
        and courses, minors and summer schools for credits. 
      properties:
        id:
          type: integer
          description: >
            The unique identifier of the course type. 
          example: 1
        course_parent_type_id:
          type: integer
          description: >
            The foreign key of the parent type, either degree or minor. 
          example: 1
        name:
          type: string
          description: >
            The type name.
          example: Bachelor Programme
          
    CourseTypes: 
      type: array
      items:
        $ref: "#/components/schemas/CourseType"
        
    CourseParentType:
      description: >
        Courses belong to one parent course type, 
        either a degree programma or credits. 
        All parent types fall into several subtypes, 
        but for easier data analysis we also maintain this attribute.
      properties:
        id:
          type: integer
          description: >
            The unique identifier of the parent course type. 
          example: 1
        name:
          type: string
          description: >
            The parent type name.
          example: Degree
          
    CourseParentTypes:
      type: array
      items:
        $ref: "#/components/schemas/CourseParentTypes"
          
    Institution:
      description: >
        In the DHCR, we keep record of universities, 
        institutions or organisations involved into 
        DH teaching in the institutions table. 
        Not to be confused with departments (affiliation of institution).
      properties:
        id:
          type: integer
          description: >
            The unique identifier of the institution in the DHCR. 
          example: 19
        city_id: 
          type: integer
          description: >
            Foreign key of the city.
          example: 20
        country_id:
          type: integer
          description: >
            Foreign key of the country.
          example: 3
        name: 
          type: string
          description: >
            The name of the institution, preferrably in English language.
          example: University of Cologne
          
    Institutions: 
      type: array
      items:
        $ref: "#/components/schemas/Institutions"
        
    Language:
      description: >
        The language the course will be held in.
      properties:
        id:
          type: integer
          description: >
            The unique identifier of the language in the DHCR. 
          example: 5
        name: 
          type: string
          description: >
            The language name
          example: Italian
          
    Languages:
      type: array
      items: 
        $ref: "#/components/schemas/Language"
        
    discipline:
      description: >
        The scholar discipline or disciplines the course is related to.
      properties:
        id:
          type: integer
          description: >
            The unique identifier of the discipline in the DHCR.
          example: 1
        name:
          type: string
          description: >
            The discipline name.
          example: Arts and Cultural Studies
          
    Discipline:
      type: array
      items:
        $ref: "#/components/schemas/discipline"
        
    tadirahTechnique:
      properties:
        id:
          type: integer
          description: >
            The unique identifier of a technique in the DHCR
          example: 1
        name: 
          type: string
          description: >
            The technique name.
          example: Bitstream Preservation
          
    TadirahTechnique:
      type: array
      items:
        $ref: "#/components/schemas/tadirahTechnique"
        
    tadirahObject:
      properties:
        id:
          type: integer
          description: >
            The unique identifier of an object in the DHCR
          example: 12
        name: 
          type: string
          description: >
            The object name.
          example: Language
          
    TadirahObject:
      type: array
      items:
        $ref: "#/components/schemas/tadirahObject"